<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.restfulbackend.modules.sys.dao.UserBlockMapper">
    <resultMap id="UserBlockBaseResultMap" type="com.restfulbackend.modules.sys.entity.UserBlock">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="owner_uuid" property="ownerUuid" jdbcType="VARCHAR"/>
        <result column="block_uuid" property="blockUuid" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">id, owner_uuid, block_uuid</sql>
    <select id="selectByPrimaryKey"
            resultMap="UserBlockBaseResultMap"
            parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from sys_user_block
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectByOwner"
            resultMap="UserBlockBaseResultMap"
            parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from sys_user_block
        where owner_uuid = #{ownerUuid,jdbcType=VARCHAR}
    </select>
    <select id="selectByBlock"
            resultMap="UserBlockBaseResultMap"
            parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM sys_user_block
        WHERE block_uuid = #{uuid, jdbcType=VARCHAR}
    </select>
    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id"
            parameterType="com.restfulbackend.modules.sys.entity.UserBlock">
        insert into sys_user_block(owner_uuid, block_uuid)
        values (#{ownerUuid,jdbcType=VARCHAR}, #{blockUuid,jdbcType=VARCHAR})
    </insert>
    <delete id="delete"
            parameterType="com.restfulbackend.modules.sys.entity.UserBlock">
        DELETE * FROM sys_user_block
        WHERE owner_uuid = #{ownerUuid, jdbcType=VARCHAR} AND block_uuid = #{blockUuid, jdbcType=VARCHAR}
    </delete>
</mapper>